page-view {
    
    .row{
        border: 1px solid black
        }
        .col{
            border-right: 1px solid black;    
        }

        .grid{
            text-align: center
            
        }
    .style{
        color: mediumblue;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 110%;
    }
}
