<ion-header>

  <ion-navbar color="primary">
    <ion-title>ViewPage</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid *ngIf="recievedData">
    <ion-row class="style">
      <ion-col col-1>ID</ion-col>
      <ion-col col-2>Name</ion-col>
      <ion-col col-2>Father Name</ion-col>
      <ion-col col-2>Address</ion-col>
      <ion-col col-2>Mobile Number</ion-col>
      <ion-col col-2>Email Id</ion-col>
      <ion-col col-1>Gender</ion-col>


    </ion-row>
    <ion-row class="style">
      <ion-col col-1>{{recievedData.id}}</ion-col>
      <ion-col col-2>{{recievedData.name}} {{recievedData.last_name}}</ion-col>
      <ion-col col-2>{{recievedData.father_name}}</ion-col>
      <ion-col col-2>{{recievedData.address}}</ion-col>
      <ion-col col-2>{{recievedData.mobileNumber}}</ion-col>
      <ion-col col-2>{{recievedData.emailId}}</ion-col>
      <ion-col col-1>{{recievedData.gender}}</ion-col>


    </ion-row>

  </ion-grid>
</ion-content>