page-home {
    .col{
        padding-left: 5%;
        padding-block-start: 1%;
        position: initial;
        width: auto;
        color: mediumblue;
        font-size: 150%;
        font-family: Arial;
        flex-grow: inherit;
    }
    .button{
        color: crimson;
        text-emphasis: inherit;
        font-family: 'Franklin Gothic Medium';
        
    }
}
