<ion-header>
  <ion-navbar color="primary"  >
    <ion-title>Welcome to the CRUD Application</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="recievedData">
    <ion-row class="style">
      <ion-col col-1>ID</ion-col>
      <ion-col col-2>Name</ion-col>
      <ion-col col-2>Last Name</ion-col>
      <ion-col col-3>Father's Name</ion-col>
      <ion-col col-1></ion-col>
      <ion-col col-1></ion-col>
      <ion-col col-1></ion-col>
    </ion-row>

    <ion-row class="style" *ngFor="let Data of recievedData;let i = index">
      <ion-col col-1>{{Data.id}}</ion-col>
      <ion-col col-2>{{Data.name}} </ion-col>
      <ion-col col-2>{{Data.last_name}}</ion-col>
      <ion-col col-3>{{Data.father_name}}</ion-col>
      <ion-col col-1>  <button class="button" ion-button color="secondary" round (click)="viewData(Data)">View</button>
      </ion-col>
      <ion-col col-1> <button class="button" ion-button color="secondary" round (click)="register(Data)">Edit</button>
      </ion-col>
      <ion-col col-1><button class="button" ion-button color="secondary" round (click)="deleteData(Data.id, i)">Delete</button>
      </ion-col>
      

    </ion-row>
    
  
  </ion-grid>

 
    

  <button ion-button color="secondary" round (click)="register('create')">
    Create
  </button>
  

</ion-content>